.loginContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: #92a7eb;

    .loginWrapper{
    flex-direction: column;
    background-color: rgb(249, 249, 249);
    padding: 20px 60px;
    border-radius: 1rem;
    }
    .logo{
        font-weight: bold;
        font-size: 24px;
    }
    .title{
        font-weight: bold;
        font-size: 16px;
    }
}


